<h1>Reviews for <%=@restaurant.name%> </h1>
  <% @restaurant.reviews.each do |review|%>
      <ul>
        <li> Comment:
        <%= review.content%>
        </li>
        <li> Rating:
        <%= review.rating%>
        </li>
      </ul>
    <%end%>
<%= link_to "Go back to #{@restaurant.name}", restaurants_path, class: "btn btn-secondary" %>

<%= link_to "Go back to all restaurants", restaurants_path, class: "btn btn-primary" %>
